/* Add fonts*/


@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Light"), url("fonts/roboto/roboto-300.woff2") format("woff2");
}

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto Regular"), url("fonts/roboto/roboto-400.woff2") format("woff2");
}

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Bold"), url("fonts/roboto/roboto-700.woff2") format("woff2");
}

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 900;
	src: local("Roboto Black"), url("fonts/roboto/roboto-900.woff2") format("woff2");
}


/*Apply fonts, color on html & body */
html,
body {
	font-family: Roboto, 'Trebuchet MS', arial, helvetica, sans-serif;
	font-weight: 400;
	background-color: #fafafa;
	color: #212121;
	padding: 0;
	margin: 0;
}

/*Body size*/
body {
	font-size: 1em;
	line-height: 1.4;
}


/* Top nav */
#top-nav {
	background: #009688;
	color: white;
	font-size: 1.2em;
	min-height: 64px;
	display: flex;
	align-items: center;
	padding: 0 15px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25)
}

#top-nav .home {
	flex: 1;
}

#top-nav a {
	color: inherit;
}

#top-nav > a {
	padding: 10px;
}

/* end top nav*/

img {
	vertical-align: middle;
	height: 120px;
	width: 320px;
}

/* header style */

.header {
	margin: 50px auto 20px;
	max-width: 1000px;
	padding: 20px 20px 0;;

}

.header h1 {
	margin-bottom: 70px;
	padding-top: 10px;
}

/*end header style*/

#menubar {
	list-style: none;
	padding: 0 0 0 20px;
	border-left: 5px solid #009688;
}

/*H styles*/

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	color: #009688;
}

h1 {
	padding-top: 20px;
}
h2 {
	padding-top: 40px;
}
h3 {
	padding-top: 25px;
}
h4 {
	padding-top: 15px;
}
h5 {
	padding-top: 10px;
}
h6 {
	padding-top: 10px;
}

/*content*/

.contenu,#contenu {
	margin: 0 auto;
	max-width: 1000px;
	padding: 20px;
}

p {
	margin: 1em 0;
}

a {
	color: #009688;
	text-decoration: none;
}

a:hover {
	text-decoration: underline; /* souligner les liens au passage souris */
}



code {
    background-color: #2c3e50;
	font-style: normal;
    border-radius: 5px;
    color: white;
    padding: 5px 15px;
    font-family: menlo, monospace;
}


code {
	padding: 6px 5px;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	text-decoration: none;
	color: inherit;
}

/* Footer */

.footer {
	text-align: center;
	padding: 50px 20px;
	font-size: 35px;
}





